<section class="about_us">
  <h2 class="about_us-title">About us</h2>
  <p class="about_us-text">
    Jewels Crush is an exciting puzzle game where players match sparkling jewels
    and gems to solve captivating puzzles and unlock magical rewards. With
    smooth gameplay, stunning visuals, and progressively challenging levels,
    this game offers endless fun and entertainment for puzzle lovers of all
    ages. Enjoy a refreshing and addicting experience while you collect jewels
    and crush through dazzling challenges.
  </p>
</section>
