<section class="benefits" id="benefits">
  <h2 class="section-title">Benefits</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <div class="benefits-image image-1" data-aos="fade-right"></div>
      <div class="benefits-textbox" data-aos="fade-left">
        <h3 class="benefits-subtitle">Engaging Gameplay:</h3>
        <p class="benefits-text">
          Enjoy a fast-paced and satisfying puzzle experience where matching
          jewels creates vibrant effects and brings new challenges. The simple
          yet addictive mechanics keep players hooked, ensuring an exciting
          journey through each level.
        </p>
      </div>
    </li>

    <li class="benefits-item">
      <div class="benefits-image image-2" data-aos="fade-left"></div>
      <div class="benefits-textbox" data-aos="fade-right">
        <h3 class="benefits-subtitle">Stunning Visuals:</h3>
        <p class="benefits-text">
          Dive into a world of colorful gems, with dynamic animations and
          sparkling effects that bring the jewel-matching gameplay to life. Each
          level is a feast for the eyes, filled with brilliant colors and
          intricate designs.
        </p>
      </div>
    </li>

    <li class="benefits-item">
      <div class="benefits-image image-3" data-aos="fade-right"></div>
      <div class="benefits-textbox" data-aos="fade-left">
        <h3 class="benefits-subtitle">Challenging Puzzles:</h3>
        <p class="benefits-text">
          Test your skills with increasingly complex levels, each designed to
          challenge your strategy and quick thinking. The puzzles become
          progressively harder, requiring you to think ahead and plan your moves
          carefully.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <div class="benefits-image image-4" data-aos="fade-left"></div>
      <div class="benefits-textbox" data-aos="fade-right">
        <h3 class="benefits-subtitle">Rewards and Power-ups:</h3>
        <p class="benefits-text">
          Unlock powerful boosts and rewards as you progress through levels.
          These special items make it easier to complete difficult puzzles and
          help you reach new heights in the game.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <div class="benefits-image image-5" data-aos="fade-right"></div>
      <div class="benefits-textbox" data-aos="fade-left">
        <h3 class="benefits-subtitle">Offline Play:</h3>
        <p class="benefits-text">
          Play whenever and wherever you want, without needing an internet
          connection. Whether you're at home, on a trip, or just waiting for an
          appointment, you can enjoy Jewels Crush anytime.
        </p>
      </div>
    </li>
    <li class="benefits-item">
      <div class="benefits-image image-6" data-aos="fade-left"></div>
      <div class="benefits-textbox" data-aos="fade-right">
        <h3 class="benefits-subtitle">Social Features:</h3>
        <p class="benefits-text">
          Connect with friends, share your progress, and compete to see who can
          achieve the highest score. Participate in leaderboards and challenge
          others to see who’s the ultimate jewel crusher.
        </p>
      </div>
    </li>
  </ul>
</section>
