<section class="faq" id="faq">
  <h3 class="section-title">FAQ</h3>
  <ul class="faq-list">
    <li class="faq-elem">
      <div class="faq-header">
        <h3 class="faq-title">How do I start the game?</h3>
        <button type="button" class="button faq-collapse"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text">
          Download the app, install it, and press 'Play' to begin your
          jewel-matching adventure.
        </p>
      </div>
    </li>
    <li class="faq-elem">
      <div class="faq-header">
        <h3 class="faq-title">Is the game free?</h3>
        <button type="button" class="button faq-collapse"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text">
          Yes, Jewels Crush is free to download, with optional in-app purchases.
        </p>
      </div>
    </li>
    <li class="faq-elem">
      <div class="faq-header">
        <h3 class="faq-title">Can I play offline?</h3>
        <button type="button" class="button faq-collapse"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text">
          Yes, Jewels Crush supports offline play, so you can enjoy the game
          without an internet connection.
        </p>
      </div>
    </li>
    <li class="faq-elem">
      <div class="faq-header">
        <h3 class="faq-title">What are boosters?</h3>
        <button type="button" class="button faq-collapse"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text">
          Boosters are special items that help you complete puzzles more
          efficiently, clear difficult levels, and earn extra rewards.
        </p>
      </div>
    </li>
    <li class="faq-elem">
      <div class="faq-header">
        <h3 class="faq-title">How do I unlock new levels?</h3>
        <button type="button" class="button faq-collapse"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text">
          Complete the current levels to unlock new, more challenging puzzles
          and progress further in the game.
        </p>
      </div>
    </li>
    <li class="faq-elem active-faq">
      <div class="faq-header">
        <h3 class="faq-title">Can I play with friends?</h3>
        <button type="button" class="button faq-collapse active"></button>
      </div>
      <div class="faq-answer">
        <p class="faq-text active-text">
          Yes, you can connect with your friends, share your progress, and
          compete on leaderboards to see who can achieve the best scores.
        </p>
      </div>
    </li>
  </ul>
</section>
