<section class="gallery-section" id="gallery">
  <h2 class="section-title gallery-title">Gallery</h2>

  <div class="gallery-container">
    <div>
      <picture>
        <source
          srcset="
            ../img/desk/gallery/1gallery_x1.png 1x,
            ../img/desk/gallery/1gallery_x2.png 2x,
            ../img/desk/gallery/1gallery_x3.png 3x
          "
        />
        <img src="./img/desk/gallery/1gallery_x1.png" alt="avatar photo" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../img/desk/gallery/2gallery_x1.png 1x,
            ../img/desk/gallery/2gallery_x2.png 2x,
            ../img/desk/gallery/2gallery_x3.png 3x
          "
        />
        <img src="./img/desk/gallery/2gallery_x1.png" alt="avatar photo" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../img/desk/gallery/3gallery_x1.png 1x,
            ../img/desk/gallery/3gallery_x2.png 2x,
            ../img/desk/gallery/3gallery_x3.png 3x
          "
        />
        <img src="/img/desk/gallery/3gallery_x1.png" alt="avatar photo" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../img/desk/gallery/4gallery_x1.png 1x,
            ../img/desk/gallery/4gallery_x2.png 2x,
            ../img/desk/gallery/4gallery_x3.png 3x
          "
        />
        <img src="./img/desk/gallery/4gallery_x1.png" alt="avatar photo" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../img/desk/gallery/5gallery_x1.png 1x,
            ../img/desk/gallery/5gallery_x2.png 2x,
            ../img/desk/gallery/5gallery_x3.png 3x
          "
        />
        <img src="./img/desk/gallery/5gallery_x1.png" alt="avatar photo" />
      </picture>
    </div>
  </div>
</section>
