<section class="gallery-section" id="gallery">
  <h2 class="section-title gallery-title">Gallery</h2>

  <div class="gallery-container">
    <div>
      <img src="./img/desk/gallery/1gallery_x1.png" alt="Gallery Image 1" />
    </div>
    <div>
      <img src="./img/desk/gallery/2gallery_x1.png" alt="Gallery Image 2" />
    </div>
    <div>
      <img src="./img/desk/gallery/3gallery_x1.png" alt="Gallery Image 3" />
    </div>
    <div>
      <img src="./img/desk/gallery/4gallery_x1.png" alt="Gallery Image 4" />
    </div>
    <div>
      <img src="./img/desk/gallery/5gallery_x1.png" alt="Gallery Image 5" />
    </div>
  </div>
</section>
