<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="">
          <div class="logo-container">
            <picture>
              <!-- Same logo for all screen sizes, but different pixel densities -->
              <source
                srcset="
                  ../img/all-screens/logo/header-logo_@1x.png 1x,
                  ../img/all-screens/logo/header-logo_@2x.png 2x,
                  ../img/all-screens/logo/header-logo_@3x.png 3x
                "
              />
              <img
                src="../img/all-screens/logo/header-logo_@1x.png"
                class="review-img"
                alt="avatar photo"
              />
            </picture>
            <p>Jewels Crush</p>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
