<section class="header-section">
  <header>
    <ul class="js-navList navListHeader">
      <li class="nav-item">
        <a href="./index.html">
          <div class="logo-container">
            <picture>
              <source
                srcset="
                  ./img/all-screens/logo/header-logo_@1x.png 1x,
                  ./img/all-screens/logo/header-logo_@2x.png 2x,
                  ./img/all-screens/logo/header-logo_@3x.png 3x
                "
              />
              <img
                src="./img/all-screens/logo/header-logo_@1x.png"
                alt="avatar photo"
              />
            </picture>
            <p class="logo-title">Jewels Crush</p>
          </div>
        </a>
      </li>
      <li class="js-nav-item burgerMenu">
        <ul class="modal-navList2">
          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
        <div class="js-burgerMenu-container modal-container">
          <svg>
            <use xlink:href="./img/svg/sprite.svg#icon-burger-menu"></use>
          </svg>
        </div>
      </li>
    </ul>
  </header>
</section>
