<section class="hero" id="home">
  <div class="hero-img"></div>
  <div class="hero-details">
    <div class="hero-text">
      <h1 class="title">Jewels Crush</h1>
      <p class="subtitle">
        Match, Crush, and Embark on the Ultimate Jewel Puzzle Adventure!
      </p>
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.yfactorysoft.JewelsPirate"
      target="_blank"
      class="google_play_button_link"
    >
      <img src="../img/svg/play-btn.svg" alt="Google Play Link" />
    </a>
  </div>
</section>
