.about_us {
  background-color: $_green_background;

  padding: 24px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;

  @include media(desktop) {
    padding: 40px 0;

    gap: 40px;
  }
}

.about-text {
  text-align: center;
}
