.footer-section {
  display: flex;
  justify-content: center;
  // padding: 24px 16px;
  background-color: $_dark_blue_background;
}
.footer-nav {
  width: 320px;
  padding: 23px 16px 16px;
  @include media(desktop) {
    width: 1200px;
    padding: 40px 72px 24px;
  }
}
.nav-list-footer {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;

  margin-bottom: 40px;
  font-weight: 700;
  @include font(16, 24);

  @include media(desktop) {
    flex-direction: row;
    gap: 40px;
    @include font(20, 20);
  }
}

.footer-text {
  text-align: center;
  font-weight: 400;
  @include font(12, 20);

  @include media(desktop) {
    flex-direction: row;
    gap: 40px;
    @include font(16, 20);
  }
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include font(30, 40);
  color: $_light_blue_background;
}

.nav-link:hover,
.nav-link:focus {
  color: $_main_black;
}
