.header {
  padding: 20px 0;
  background-color: #8feaff;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(tablet) {
    justify-content: flex-start;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include font(30, 40);
  color: $_light_blue_background;
}

.nav-link:hover,
.nav-link:focus {
  color: $_main_black;
}

.nav-item.img {
  width: 60px;
}

.logo-container {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 16px;
}
