@import './header.scss';
@import './hero.scss';
@import './about_us.scss';
@import './benefits.scss';
@import './gallery.scss';
@import './faq.scss';
@import './download.scss';
@import './footer.scss';
@import './privacy.scss';
@import './terms.scss';

:root {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_main_black;
  background-color: $_main_white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.google_play_button_link {
  width: 136px;

  @include media(desktop) {
    width: 246px;
  }
}

button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: $_main_white;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.section-title {
  font-family: 'Lilita One';
  font-size: 32px;
  line-height: normal;

  @include media(desktop) {
    font-size: 72px;

    gap: 40px;
  }
}

.section-heading {
  font-family: 'Lilita One';
  font-size: 18px;
  line-height: normal;

  @include media(desktop) {
    font-size: 32px;

    gap: 40px;
  }
}

.section-text {
  width: 288px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  @include media(desktop) {
    width: 1056px;

    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
  }
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; /* Adjust this value for the desired offset */
}

.privacy-container {
  background-color: $_yellow_background;
}

.terms-container {
  background-color: $_green_background;
}
