.terms {
  background-color: $_green_background;

  padding: 16px 16px 40px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;

  @include media(desktop) {
    padding: 40px 0;

    gap: 40px;
  }
}

.privacy-policy {
  background-color: $_yellow_background;

  padding: 16px 16px 40px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;

  @include media(desktop) {
    padding: 40px 0;

    gap: 40px;
  }
}

.privacy-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul.bullet-point {
  list-style: none; /* turn off default browser bullet */
  padding-left: 0; /* remove default left padding */
  margin-left: 1.5em; /* shift your entire list to the right if needed */
}

li.bullet-point {
  position: relative;
  margin: 0.5em 0; /* vertical spacing around bullet items */
  padding-left: 1.2em; /* space so text doesn't run into bullet */
}

/* Insert a custom bullet with before or after */
li.bullet-point::before {
  content: '•'; /* your bullet symbol */
  position: absolute;
  left: 0.3em;
  /* Adjust top/bottom as needed to align bullet with text */
}
